<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container p-4">
  <div class="card-header p-2">
    <div>
      <h2 class="d-flex justify-content-center title">Current Forecast Wheather</h2>
     </div>
  </div>
  <div class="row">
    <div class="card-primary col-md-6 mb-2">
      <div class="card card-body">
          <label class="form-control-label label-custom mb-2">City</label>
          <input #searchCityRef type="text" placeholder="Ex: Uberlandia" class="form-control" autofocus [(ngModel)]="nameCity">
          <div>
            <mat-calendar [(selected)]="date"></mat-calendar>
          </div>
          <button class="btn btn-primary btn-block mt-2" (click)="getForecastWheather()">
            Get Weather
          </button>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="weather" class="card card-body">
        <h1 class="text-center px-2">Daily forecast</h1>
        <ul class="d-flex justify-content-between text-center px-2" style="list-style-type:none">
          <li class="h4">
            <h3>{{weather.daily.time[0]}}</h3>
            <div class="d-flex align-items-center mb-2">
              <span class="material-icons">
                arrow_upward
                </span>
              <span>{{weather.daily.temperature_2m_max[0]}}°</span>
            </div>
            <div class="d-flex align-items-center mb-2">
              <span class="material-icons">
                arrow_downward
                </span>
              <h2 class="text-primary mt-2 mb-2">{{weather.daily.temperature_2m_min[0]}}°</h2>
            </div>
          </li>
          <li class="h4">
            <h3>{{weather.daily.time[1]}}</h3>
            <div class="d-flex align-items-center mb-2">
              <span class="material-icons">
                arrow_upward
                </span>
              <span>{{weather.daily.temperature_2m_max[1]}}°</span>
            </div>
            <div class="d-flex align-items-center mb-2">
              <span class="material-icons">
                arrow_downward
                </span>
              <h2 class="text-primary mt-2 mb-2">{{weather.daily.temperature_2m_min[1]}}°</h2>
            </div>
          </li>
          <li class="h4">
            <h3>{{weather.daily.time[2]}}</h3>
            <div class="d-flex align-items-center mb-2">
              <span class="material-icons">
                arrow_upward
                </span>
              <span>{{weather.daily.temperature_2m_max[2]}}°</span>
            </div>
            <div class="d-flex align-items-center mb-2">
              <span class="material-icons">
                arrow_downward
                </span>
              <h2 class="text-primary mt-2 mb-2">{{weather.daily.temperature_2m_min[2]}}°</h2>
            </div>
          </li>
          <li class="h4">
            <h3>{{weather.daily.time[3]}}</h3>
            <div class="d-flex align-items-center mb-2">
              <span class="material-icons">
                arrow_upward
                </span>
              <span>{{weather.daily.temperature_2m_max[3]}}°</span>
            </div>
            <div class="d-flex align-items-center mb-2">
              <span class="material-icons">
                arrow_downward
                </span>
              <h2 class="text-primary mt-2 mb-2">{{weather.daily.temperature_2m_min[3]}}°</h2>
            </div>
          </li>
          <li class="h4">
            <h3>{{weather.daily.time[4]}}</h3>
            <div class="d-flex align-items-center mb-2">
              <span class="material-icons">
                arrow_upward
                </span>
              <span>{{weather.daily.temperature_2m_max[4]}}°</span>
            </div>
            <div class="d-flex align-items-center mb-2">
              <span class="material-icons">
                arrow_downward
                </span>
              <h2 class="text-primary mt-2 mb-2">{{weather.daily.temperature_2m_min[4]}}°</h2>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
